# Python compiled files and caches
**/__pycache__/
**/*.pyc
**/*.pyo


# Virtual environment directories (if any)
venv/
env/
.virtualenv/

# IDE and editor-specific files
*.vscode/
.idea/
*.swp
*.swo
.DS_Store
